.logo {
    height: 10vh;
    width: 100%;
    border: solid purple;
    background-image: url('https://occ-0-395-2568.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABQbRqT-WKY-7rwy3NJWgEmJBrc4uLXSmJmGWBQBsbHObn-F34UKc_e94Enh0c579CkN5b0jZraNh3tOivW8TXC0ld8ZtUPjy_zSt6lTNtkeZ.png?r=581')
}

.spider-man {
    display: none;
    width: 100%;
    border: solid blue;
    background-image: url('https://s7d2.scene7.com/is/image/TWCNews/skyline_5_pkg_353770191103408541023png');
}

.equilibrium {
    display: flex;
    flex-direction: column;
    height: 94vh;
    /* height: fit-content; */
    /* width: fit-content; */
}

.equilibriumImg {
    height: 94vh;
}

.goodBad {
    display: none;
}