.logo {
    border: solid purple;
    height: 10%;
}

.synopsis {
    display: none;
}

.spider-man {
    display: none;
    width: 100%;
    border: solid blue;
    background-image: url('https://s7d2.scene7.com/is/image/TWCNews/skyline_5_pkg_353770191103408541023png');
}

.equilibrium {
    display: none;
}

.goodBad {
    display: flex;
    align-items: center;
    border: solid gray;
    height: 98vh;
    width: 100%;
    background-color: darkgoldenrod;
}

.goodBadImg {
    height: 94vh;
}

.trailer {
    display: none;
}